@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form enctype="multipart/form-data" method="post" action="/home/upload">
        <input type="text" name="title" />
        <input type="text" name="author" />
        <select multiple="multiple" name ="categories" style="width: 50px"></select>
        <input type="file" name="file" />
        <input type="submit" />
    </form>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
